<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Transfer Money</title>
<link rel="stylesheet" th:href="@{/css/transfer.css}">
</head>
<body>

	<h2>Transfer Money</h2>

	<form method="post" th:action="@{/transfer}" onsubmit="return validateTransferForm()">
		<input type="text" name="fromAccount" placeholder="From Account Number" required><br> 
		<input type="text" name="toAccount" placeholder="To Account Number" required><br>
		<input type="number" name="amount" placeholder="Amount to Transfer" required min="1"><br>
		<button type="submit">Transfer</button>
		<button type="submit" th:onclick="|window.location.href='@{/}'|">Home</button>
	</form>

	<div th:if="${message}" style="color: green;">
		<p th:text="${message}"></p>
	</div>

	<div th:if="${error}" style="color: red;">
		<p th:text="${error}"></p>
	</div>

	<script th:src="@{/js/validation.js}"></script>

</body>
</html>
