<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blood Bank</title>
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="@{/blood/}">HOME</a></li>
				<li><a th:href="@{/blood/bloodBank}">BLOOD BANK</a></li>
				<li><a th:href="@{/blood/allBloodGroupList}">ALL BLOOD
						GROUP LIST</a></li>
				<li class="dropdown"><a th:href="@{/#}">MORE</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/#}">About us</a></li>
						<li><a th:href="@{/blood/requestForBlood}">Request Blood</a></li>
						<li><a th:href="@{/#}">Donation</a></li>
					</ul></li>
				<li class="donate-btn"><a th:href="@{/#}">DONATE
						US</a></li>
			</ul>
		</nav>
	</header>

	<section class="hero">
		<h1>
			<span>Donate Blood</span> Give The Gift Of Life
		</h1>
		<form th:action="@{/blood/findDonor}" method="GET">
			<div class="search-container">
				<select name="bloodgroup" id="bloodgroup">
					<option value="">--Blood Group--</option>
					<option value="A+">A+</option>
					<option value="A-">A-</option>
					<option value="B+">B+</option>
					<option value="B-">B-</option>
					<option value="O+">O+</option>
					<option value="O-">O-</option>
					<option value="AB+">AB+</option>
					<option value="AB-">AB-</option>
				</select> 
				<select name="state" id="state">
					<option value="">Select State</option>
				</select> 
				<select name="district" id="district">
					<option value="">Select District</option>
				</select> 
				<select name="tehsil" id="tehsil">
					<option value="">All Tehsil</option>
				</select>

				<button type="submit" id="find-blood">FIND BLOOD</button>
			</div>
		</form>
		<div class="options">
			<div class="option">
				<a th:href="@{/blood/requestForBlood}"><img
					th:src="@{/images/1.png}" width="50" height="50"></a>
				<h3>Request Blood</h3>
			</div>
			<div class="option">
				<a th:href="@{/blood/findBloodDonor}"><img
					th:src="@{/images/2.png}" width="50" height="50"></a>
				<h3>Find Blood Donor</h3>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="box">
			<h2>DONATIONS</h2>
			<p>We are grateful for Our Real Hero and hope for them always
				success who helps Donate to Blood Bank Today</p>
			<button>DONATE US</button>
		</div>
		<div class="box">
			<h2>VOLUNTEER</h2>
			<p>You will become a vital part of the biggest Blood Donation
				organization Blood bank today in the world</p>
			<a th:href="@{/blood/register}"><button>JOIN NOW</button></a>
		</div>
		<div class="box">
			<h2>CAUSES</h2>
			<p>Blood Bank today receives recent causes to Fundraising for
				charitable projects. We need your help</p>
			<button>CAUSES</button>
		</div>
	</section>
	<script th:src="@{/js/home.js}"></script>
</body>
</html>
